.sky{
  background-color: #38bdf8;
}
.red{
  background-color: #f87171;
}
.amber{
  background-color: #fbbf24;
}
.violet{
  background-color: #a78bfa;
}
.lime{
  background-color: #a3e635;
}
.teal{
  background-color: #2dd4bf;
}
.indigo{
  background-color: #818cf8;
}
.pink{
  background-color: #f472b6;
}